<ion-card [ngClass]="expanded ? 'expanded' : ''">
  <div class="card-wrapper">
    <div class="header">
      <ng-container class="token">
        <img class="token" [src]="getTokenImage()" height="48" width="48"/>
      </ng-container>

      <div class="receive-info">
        <div class="tx-container" [ngClass]="isReceiver(transfer) ? 'tx-receive' : 'tx-sent' " *ngFor="let transfer of transaction.tokenTransfers">
          <span>
            {{isReceiver(transfer) ? 'Received' : 'Transfered' }}
            {{ transfer.tokenAmount % 1 == 0 ? transfer.tokenAmount.toFixed(0): transfer.tokenAmount.toFixed(2) }} {{getTokenSymbol()}}
            {{isReceiver(transfer) ? 'from' : 'to' }}
            {{getOther(transaction.tokenTransfers[0])}}
          </span>
        </div>
        
        <span class="timestamp">{{transaction.timestamp | datetime}}</span>
      </div>
    </div>
  </div>
  <app-details *ngIf="expanded" [transaction]="transaction"></app-details>
</ion-card>