<ion-card [ngClass]="expanded ? 'expanded' : ''">
  <div class="card-wrapper">
    <div class="header">
      <ng-container class="token">
        <img class="token nft-token" [src]="getTokenImage()" (click)="showToken()" height="48" width="48"/>
      </ng-container>

      <div class="receive-info">
        <div class="tx-container" [ngClass]="isReceiver(transfer) ? 'tx-receive' : 'tx-sent' " *ngFor="let transfer of transaction.tokenTransfers">
          <span>
            {{isReceiver(transfer) ? 'Received' : 'Transfered' }}
            {{ transfer.tokenAmount % 1 == 0 ? transfer.tokenAmount.toLocaleString(): transfer.tokenAmount.toFixed(2) }} {{getTokenSymbol()}}
            {{isReceiver(transfer) ? 'from' : 'to' }}
            <span *ngIf="transfer.fromUserAccount.length == 0; else otherLink">an Airdrop</span>
            <ng-template #otherLink>
              <a target="_blank" [href]="getOtherLink(transaction.tokenTransfers[0])">{{getOther(transaction.tokenTransfers[0])}}</a>
            </ng-template>
          </span>
        </div>
        
        <span class="timestamp">{{transaction.timestamp | datetime}}</span>
      </div>
    </div>
  </div>
  <app-details *ngIf="expanded" [transaction]="transaction"></app-details>
</ion-card>