/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {
  font-family: 'circular-std';
  src: url('./assets/fonts/circular-std.ttf');
}

* {
  font-family: 'circular-std';
}

ion-card {
    padding: 16px;
    height: 80px;
    border-radius: 16px;
    transform: scale(0.95);
    transition: all 0.15s ease-in-out;
    background-color: #2c2d30;

    &:hover {
      transform: scale(1);
    }

    a {
      color: unset;
    }

  }

.expanded {
  height: 200px;
}

.card-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}



.header {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;

  img {
    border-radius: 50%;
    margin-right: 16px;
  }

  .receive-info {
    display: flex;
    flex-direction: column;
    height: 100%;

    ion-icon {
      padding-right: 8px;
    }
  }

  .other {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
      padding-right: 8px;
    }
  }

}

.tx-container {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: start;
}


.tx-receive {
  color: lightgreen;
}

.tx-sent {
  color: coral;
}


.nft-receive {
  color: coral;
  >span {
      &::before {
      content: 'Bought';
      padding-right: 4px;
    }

  }
}

.nft-sent {
  color: lightgreen;
  >span {
      &::before {
      content: 'Sold';
      padding-right: 4px;
    }
  }
}

.nft-mint {
  color: coral;
}

.nft-token {
  cursor: pointer;
}

.burn {
  color: coral
}

.filter-list {

  ion-label {
      padding: 0 8px;
  }

  ion-radio {
      --border-radius: 4px;
      --inner-border-radius: 4px;
    
      --color: #ddd;
      --color-checked: #6815ec;
    }
    
    ion-radio.ios {
      width: 20px;
      height: 20px;
    
      border: 2px solid #ddd;
      border-radius: 4px;
    }
    
    .radio-checked.ios {
      border-color: #6815ec;
    }

}
