<ion-card [ngClass]="expanded ? 'expanded' : ''">
  <div class="card-wrapper">

    <div class="header">
      <ng-container class="token">
        <img class="token" [src]="getExchangeIcon()" height="48" width="48"/>
      </ng-container>

      <div class="receive-info">
        <div class="tx-container">
          <ion-icon name="swap-horizontal"></ion-icon>
          <span>
            Swapped
            {{getInputTokenAmount()}} {{getInputTokenSymbol()}}
            for
            {{getOutputTokenAmount()}} {{getOutputTokenSymbol()}}
            on
            {{this.transaction.source}}

          </span>
        </div>
        
        <span class="timestamp">{{transaction.timestamp | datetime}}</span>
      </div>
    </div>

  </div>
  <app-details *ngIf="expanded" [transaction]="transaction"></app-details>
</ion-card>