<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-toggle *ngIf="smallScreen">
      <ion-button>
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
  </ion-buttons>
  <ion-title>
    Movements <span *ngIf="pubKey">for {{pubKey}}</span>
  </ion-title>
</ion-toolbar>

<div *ngIf="showFilter" class="desktop-filter-wrapper">
  <div class="desktop-filter-container">
    <ion-item>
      <ion-label>Filter</ion-label>
    </ion-item>
    <ion-radio-group [(ngModel)]="filter" (ngModelChange)="applyFilter(filter)" class="filter-list">
      <ion-item>
        <ion-radio value="all"></ion-radio>
        <ion-label>All</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio value="tokens"></ion-radio>
        <ion-label>Tokens</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio value="sol"></ion-radio>
        <ion-label>SOL</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio value="nfts"></ion-radio>
        <ion-label>NFTs</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio value="mint"></ion-radio>
        <ion-label>Mint</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio value="swap"></ion-radio>
        <ion-label>Swap</ion-label>
      </ion-item>
    </ion-radio-group>
  </div>
</div>