<ion-card [ngClass]="expanded ? 'expanded' : ''">
  <div class="card-wrapper">
    <div class="header">
      <ng-container class="token">
        <img class="token" src="assets/tokens/solana.webp" height="48" width="48"/>
      </ng-container>

      <div class="receive-info">
        <div class="tx-container" [ngClass]="isReceiver(transfer) ? 'tx-receive' : 'tx-sent' " *ngFor="let transfer of transaction.nativeTransfers">
          <span>
            {{isReceiver(transfer) ? 'Received' : 'Transfered' }}
            {{ getSolAmount(transfer.amount) }} SOL
            {{isReceiver(transfer) ? 'from' : 'to' }}
            <a target="_blank" [href]="getOtherLink(transaction.nativeTransfers[0])">{{getOther(transaction.nativeTransfers[0])}}</a>
          </span>
      </div>
        <span class="timestamp">{{transaction.timestamp | datetime}}</span>
      </div>
    </div>
  </div>
  <app-details *ngIf="expanded" [transaction]="transaction"></app-details>
</ion-card>